doctype html
html(lang='zh-Hans')
  head
    meta(charset='utf-8')
    title= Title
    style.
      .link {
        fill: none;
        stroke: #333;
        stroke-width: 1px;
      }
  body
    div !{HTML}
