doctype html
html(lang='zh-Hans')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width')
    title= title
    link(rel='icon' type='image/x-icon' href='/favicon.ico')
    link(rel='icon' type='image/png' href='/hong.png')
    style.
      @font-face {
        font-family: 'Song';
        src: url('/fonts/SourceHanSerifCN-Bold.woff2') format('woff2'),
             url('/fonts/SourceHanSerifCN-Bold.woff') format('woff'),
             url('/fonts/SourceHanSerifCN-Bold.ttf') format('truetype');
      }
      @font-face {
        font-family: 'Hei';
        src: url('/fonts/SourceHanSansSC-Regular.woff2') format('woff2'),
             url('/fonts/SourceHanSansSC-Regular.woff') format('woff'),
             url('/fonts/SourceHanSansSC-Regular.ttf') format('truetype');
      }
      @font-face {
        font-family: 'Kai';
        src: url('/fonts/FZKTK.woff2') format('woff2'),
             url('/fonts/FZKTK.woff') format('woff'),
             url('/fonts/FZKTK.ttf') format('truetype');
      }
  body
    div!= svg
